<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>index</title>
        <link rel="stylesheet" href="css/reset.css">
        
        <style>
            .nav{overflow: hidden;}
            .nav li{width: 60px;background-color: #eee;padding: 10px;text-align: center;float: left;cursor: pointer;}
            .nav li:hover{background-color: #999;color: #fff;}
            .nav .checked{background-color: #999;color: #fff;}
            .content{background-color: #efefef;padding: 10px;}
        </style>
    </head>
    <body>
        <div id="test1">
            <ul class="nav">
                <li v-for="(navList,index) in navLists" v-bind:class="{checked:navList.isActive}" v-on:click="change(navList,index)">{{navList.con}} {{index}}</li>
            </ul>
            <ul class="content">
                <li v-for="item in items">
                    {{item.message}}
                </li>
            </ul>
        </div>
        <script src="js/vue.js"></script>
        <script>
            var test1=new Vue({
                el:'#test1',
                data:{
                    navLists:[{con:'动物',isActive:true},{con:'水果',isActive:false},{con:'蔬菜',isActive:false}],
                    items:[{message:'猴子'},{message:'牛'},{message:'马'},{message:'羊'}]
                },
                methods:{
                    change:function (a,index){
                        for (var i=0;i<test1.navLists.length;i++) {
                        	test1.navLists[i].isActive=false;
                        }
                        a.isActive=true;
                        if (index==0) {
                        	test1.items=[{message:'猴子'},{message:'牛'},{message:'马'},{message:'羊'}];
                        } else if(index==1){
                        	test1.items=[{message:'香蕉'},{message:'苹果'},{message:'梨'}];
                        } else if(index==2){
                            test1.items=[{message:'西红柿'},{message:'青菜'},{message:'萝卜'}];
                        }
                    }
                }
            })
        </script>
    </body>
</html>